<div>
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet architecto necessitatibus eos voluptate
        reprehenderit a dolorem nulla ad ipsa soluta molestias, consequatur consequuntur tempora libero illo magni minus
        consectetur quidem!</p>
</div>